In [1]:
import pandas as pd

In [4]:
data = pd.read_excel('StudentList638503123757892814_5351.xlsx')
data.head()

,First Name,Last Name,Middle Name,Assign To Location,Assign to Staff,Date of Birth,Emergency Phone,Emergency Phone1,Emergency Relationship,Gender,...,Billing1,Billing2,Billing3,Billing4,Billing5,Billing6,Billing7,Billing8,Billing9,Billing10
0,Aaron,Ruehrwein,Jacob,NaN,"Zade,Khalil",2008-05-19,NaN,NaN,NaN,Male,...,"Amount paid: $649.99, Payment Method: Cash, Co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aaron,Sova,NaN,NaN,NaN,2008-06-30,NaN,NaN,NaN,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abhi,Patel,Amit,NaN,"Zade,Khalil",2007-11-27,NaN,NaN,NaN,Male,...,"Amount paid: $649.99, Payment Method: Cash, Co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adrianah,Hartman,NaN,NaN,"Zade,Khalil",2008-03-05,NaN,NaN,NaN,Female,...,"Amount paid: $649.99, Payment Method: Check/Mo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aiden,Sanders,NaN,NaN,"Zade,Khalil",2007-11-12,NaN,NaN,NaN,Male,...,"Amount paid: $649.99, Payment Method: CC, Coll...","Amount paid: $75.00, Payment Method: CC, Colle...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
import  uuid
print(uuid.uuid4())

93856631-891f-473c-8f8a-2979f7c84a9b

In [14]:
for i in range(0,len(data)):
    da = {
    "id": None,
    "status": None,
    "first_name": data["First Name"][i],
    "mid_name": data["Middle Name"][i],
    "last_name": data["Last Name"][i],
    "address": data["Student Address"][i],
    "city": None,
    "state": data["Student Address"][i],
    "zip": data["Student Address"][i],
    "email": data["Student Email"][i],
    "code":None ,
    "home_photo": data["Home Phone"][i],
    "cell_phone": data["Student Cell Phone"][i],
    "birth": None,
    "username": "",
    "password": "",
    "home_pickup": None,
    "Gender": data["Gender"][i],
    "preferred_pronoun": None,
    "dl_permit": data["Permit #"][i],
    "dl_given_date": data["Permit Issued Date"][i],
    "dl_expire_date": None,
    "note": data["Student Notes"][i],
    "medical_condition": "",
    "parent_name": data["Parent Name"][i],
    "parent_email": data["Parent Email"][i],
    "parent_phone": data["Parent Cell Phone"][i],
    "parent_2_name": data["Parent Name 2"][i],
    "parent_2_email": data["Parent Email 2"][i],
    "parent_2_phone": data["Parent Phone 2"][i],
    "type": None,
    "staff": None,
    "location": None,
    "high_school": None
}

In [15]:
print(da)

{'id': None, 'status': None, 'first_name': 'Zachary', 'mid_name': nan, 'last_name': 'Miller', 'address': '3 Gilmore Ct, Fairfield, OH, 45014', 'city': None, 'state': '3 Gilmore Ct, Fairfield, OH, 45014', 'zip': '3 Gilmore Ct, Fairfield, OH, 45014', 'email': 'millerzachary605@gmail.com', 'code': None, 'home_photo': nan, 'cell_phone': '(513)394-0137', 'birth': None, 'username': '', 'password': '', 'home_pickup': None, 'Gender': 'Male', 'preferred_pronoun': None, 'dl_permit': 'VN096754', 'dl_given_date': Timestamp('2023-03-22 00:00:00'), 'dl_expire_date': None, 'note': nan, 'medical_condition': '', 'parent_name': nan, 'parent_email': nan, 'parent_phone': nan, 'parent_2_name': nan, 'parent_2_email': nan, 'parent_2_phone': nan, 'type': None, 'staff': None, 'location': None, 'high_school': None}